IF OBJECT_ID('dbo.gemini_backup', 'U') IS NOT NULL  DROP TABLE dbo.gemini_backup

CREATE Table dbo.gemini_backup
(
 id int Identity(1,1),
 data nvarchar(max)
)

Declare @includeItems int
Declare @ItemList varchar(max)
Declare @query varchar(max)
Declare @anonymizeData int

SET @includeItems = @@@includeItems@@@
SET @ItemList = @@@ItemList@@@
SET @anonymizeData = @@@anonymizeData@@@

INSERT INTO gemini_backup EXEC sp_gemini_create
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_projecttemplate], @anonymize_data = @anonymizeData,  @exclude_anonymize_columns = "'template','versionnumber','templatekey','title'"
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_projectlabels], @anonymize_data = @anonymizeData
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_globalsecurityschemes]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_globalsecurityschemeroles]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_globalconfigurationwidgetdata]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_users], @anonymize_data = @anonymizeData, @exclude_anonymize_columns = "'settings','roles','timezoneid','culture','languageid','theme','firstname','surname'", @cols_to_exclude = "'openid'"
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_userwidgetdata]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_projects], @anonymize_data = @anonymizeData, @exclude_anonymize_columns = "'projectcode','projectname','color','options'"
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_projectgroups]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_projectgroupmembership]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_alerttemplates]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_apppermissions]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_install]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuelinks]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuelinktypes]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuepriorities]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issueresolutions]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issueseverity]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuestatus]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuetimetype]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuetypes]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_rulesactions]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_sla]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_versions]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_optoutemails]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_plannerviews]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_navigationcard]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_cardissuesequence]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_components]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_codecommits]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_timetracking], @anonymize_data = @anonymizeData
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_customfielddefinitions]
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_customfielddata], @anonymize_data = @anonymizeData

SET @query = 'from gemini_applicationsettings where settingname NOT IN (''SMTPAuthenticationUsername'',''SMTPAuthenticationPassword'',''SMTPFromEmailAddress'',''ActiveDirectoryUserName'',''ActiveDirectoryPassword'')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_applicationsettings], @from = @query

IF @includeItems = 1
BEGIN
SET @query = 'from gemini_issues where issueid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issues], @from = @query, @anonymize_data = @anonymizeData, @exclude_anonymize_columns = "'hierarchykey','repeated','affectedversions','resources','components','watchers'"

SET @query = 'from gemini_issueaudit where issueid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issueaudit], @from = @query, @anonymize_data = @anonymizeData, @exclude_anonymize_columns = "'fieldchanged','idbefore','idafter'"

SET @query = 'from gemini_issuecomments where issueid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuecomments], @from = @query, @anonymize_data = @anonymizeData

SET @query = 'from gemini_issuecomponents where issueid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuecomponents], @from = @query, @anonymize_data = @anonymizeData

SET @query = 'from gemini_issuevotes where issueid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuevotes], @from = @query

SET @query = 'from gemini_issuewidgetdata where issueid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issuewidgetdata], @from = @query

SET @query = 'from gemini_watchissues where issueid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_watchissues], @from = @query

SET @query = 'from gemini_issueattachments where issueid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_issueattachments], @from = @query, @cols_to_exclude = "'filecontent'"

INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_testing_types]

SET @query = 'from gemini_testing_runs where testplanid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_testing_runs], @from = @query

SET @query = 'from gemini_testing_run_steps join gemini_testing_runs ON gemini_testing_runs.testrunid = gemini_testing_run_steps.testrunid where gemini_testing_runs.testplanid in (' + @ItemList + ') AND gemini_testing_run_steps.testcaseid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_testing_run_steps], @from = @query,@column_prefix = 'gemini_testing_run_steps.'

SET @query = 'from gemini_testing_run_cases join gemini_testing_runs ON gemini_testing_runs.testrunid = gemini_testing_run_cases.testrunid where gemini_testing_runs.testplanid in (' + @ItemList + ') AND gemini_testing_run_cases.testcaseid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_testing_run_cases], @from = @query,@column_prefix = 'gemini_testing_run_cases.'

SET @query = 'from gemini_testing_plan_cases where testplanid in (' + @ItemList + ') AND testcaseid in  (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_testing_plan_cases], @from = @query

SET @query = 'from gemini_testing_case_steps where testcaseid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_testing_case_steps], @from = @query

SET @query = 'from gemini_testing_case_issues where testcaseid in (' + @ItemList + ') and issueid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_testing_case_issues], @from = @query

SET @query = 'from gemini_testing_attachments join gemini_testing_runs ON gemini_testing_runs.testrunid = gemini_testing_attachments.testrunid where gemini_testing_runs.testplanid in (' + @ItemList + ')'
INSERT INTO gemini_backup EXEC sp_gemini_inserts [gemini_testing_attachments], @from = @query, @cols_to_exclude = "'filecontent'",@column_prefix = 'gemini_testing_attachments.'

END

INSERT INTO gemini_backup Select 'update gemini_users set pwd = 0x1D0258C2440A8D19E716292B231E3190'
