@model Migration.MigrationProjectsModel
@using Countersoft.Gemini
@using Countersoft.Foundation.Commons.Extensions
@using System.Web.Mvc.Html;

<div id="cs-adhoc-page" class="migration-projects">
    <p id="tab-help-message" class="help-projects"><strong>»</strong>&nbsp;Select the projects you want to migrate into a template</p>
     
    <form id="migration-projects-form" action="" method="post" autocomplete="off">
        <table class="data-entry-box">
            <tr>
                <td class="no-wrap">Projects</td>
                <td>@Html.ListBox("Projects", Model.ProjectList, new { @class = "input-size9 required" })</td>
            </tr> 
            <tr>
                <td>Template</td>
                <td>@Html.DropDownList("Template", Model.TemplateList, new { @class = "input-size9" })</td>
            </tr>
            <tr><td colspan="2"><div class="divider"></div></td></tr>
            <tr>
                <td>
                    <input id="migration-back" type="button" value='Back' class='button-secondary' />
                </td>
                <td>
                    <input id="migration-migrate" type="button" value='Migrate' class='button-primary right' />
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        gemini_ui.chosen('.migration-projects select', false);

        $('#migration-back').click(function () {
            $('.migration-projects').remove();
            $('.migration-connection').show();
        });

        $('#migration-migrate').click(function () {
            if ($("#migration-projects-form").valid()) {
            
                gemini_ui.startBusy('#cs-adhoc-page .data-entry-box #migration-migrate');


                gemini_ajax.postCall("apps/Migration", "backup",
                function (response)
                {
                    if (response.success)
                    {
                        gemini_ajax.postCall("apps/Migration", "importbackup",
                        function (response)
                        {
                            if (response.success)
                            {
                                gemini_ajax.postCall("apps/Migration", "migrate",
                                function (response)
                                {
                                    if (response.success)
                                    {
                                        $('.migration-projects').before(response.Result.Data.Html);
                                        $('.migration-projects').hide();
                                    }
                                    else
                                    {
                                        gemini_popup.toast(response.Message, true);
                                    }

                                    gemini_ui.stopBusy('#cs-adhoc-page .data-entry-box #migration-migrate');
                                }, function () { gemini_ui.stopBusy('#cs-adhoc-page .data-entry-box #migration-migrate'); }, $('#migration-projects-form').serialize(), null, true);
                            }
                            else
                            {
                                gemini_popup.toast(response.Message, true);
                                gemini_ui.stopBusy('#cs-adhoc-page .data-entry-box #migration-migrate');
                            }
                           
                        }, function () { gemini_ui.stopBusy('#cs-adhoc-page .data-entry-box #migration-migrate'); }, $('#migration-projects-form').serialize(), null, true);

                    }
                    else
                    {
                        gemini_popup.toast(response.Message, true);
                        gemini_ui.stopBusy('#cs-adhoc-page .data-entry-box #migration-migrate');
                    }
                   
                }, function () { gemini_ui.stopBusy('#cs-adhoc-page .data-entry-box #migration-migrate'); }, $('#migration-projects-form').serialize(), null, true);
                
            }
        })


    });
</script>