@using System.Web.Mvc.Html;
@model Migration.MigrationSettingsModel

<p id="tab-help-message"><strong>»</strong>&nbsp;Migrate Gemini projects (Always backup your current Gemini database before you start the migration process).</p>


<div id="cs-adhoc-page" class="migration-connection">
    <p id="tab-help-message" class="help-connect"><strong>»</strong>&nbsp;Enter the database details you want to migrate from:</p>
    <form id="migration-form" action="" method="post" autocomplete="off">
        <table class="data-entry-box">
            <tr>
                <td>Server name</td>
                <td><input type="text" class="input-size9 required" name="serverName" id="serverName" placeholder="e.g. localhost, server\instance" /></td>
            </tr>
            <tr>
                <td class="no-wrap">Database Name</td>
                <td><input type="text" name="databaseName" id="databaseName" class="input-size9 required" /></td>
            </tr>
            <tr>
                <td class="no-wrap">Username</td>
                <td><input type="text" name="username" id="username" class="input-size9 required" /></td>
            </tr>
            <tr>
                <td class="no-wrap">Password</td>
                <td><input type="password" name="password" id="password" class="input-size9 required" /></td>
            </tr>
            <tr>
                <td class="no-wrap">Gemini Version</td>
                <td>
                    @Html.DropDownList("version", Model.GeminiVersionList, new { @class = "input-size9 required" })
                </td>
            </tr>
            <tr><td colspan="2"><div class="divider"></div></td></tr>
            <tr>
                <td colspan="2">
                    <input id="migration-connect" type="button" value='Connect' class='button-primary right' />
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#migration-connect').click(function () {
            if ($("#migration-form").valid()) {
            
                gemini_ui.startBusy('#cs-adhoc-page .data-entry-box #migration-connect');

                gemini_ajax.postCall("apps/Migration", "connect",
                function (response) {
                    if (response.success)
                    {
                        $('.migration-connection').before(response.Result.Data.Html);
                        $('.migration-connection').hide();                        
                    }
                    else
                    {
                        gemini_popup.toast(response.Message, true);
                    }

                    gemini_ui.stopBusy('#cs-adhoc-page .data-entry-box #migration-connect');
                }, function () { gemini_ui.stopBusy('#cs-adhoc-page .data-entry-box #migration-connect'); }, $('#migration-form').serialize(), null, true);
            }
        })

    });
</script>