.breeze-reply-pending-changes
{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 3px;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
}

#breeze-reply-expander
{
    color: gray;
    font-size: 10px; 
    cursor: pointer;
}
#mceu_70 span.mce-txt
{
    display:none;
}

#new-changes-panel {
    margin-top: 15px;
}

#new-changes-panel .warning {
    padding: 0 10px;
    margin-right: 10px; 
    font-size: 30px;
    font-weight: bold;
    -ms-border-radius: 2px;
    border-radius: 2px;
}