@model String

<h2>@Model</h2>
<br />
<div id="ProjectAttributeContainer"></div>
<br />
<ul id="report-summary-items">
    <li>
        <div id="ComponentSummaryContainer">
        </div>
    </li>
    <li>
        <div id="VersionSummaryContainer">
        </div>
    </li>
    <li>
        <div id="ResourceSummaryContainer">
        </div>
    </li>
    <li>
        <div id="TypeSummaryContainer">
        </div>
    </li>
    <li class="">
        <div id="PrioritySummaryContainer">
        </div>
    </li>
    <li>
        <div id="SeveritySummaryContainer">
        </div>
    </li>
    <li>
        <div id="StatusSummaryContainer">
        </div>
    </li>
    <li>
        <div id="ResolutionSummaryContainer">
        </div>
    </li>

</ul>