@using System.Web.Mvc.Html;
@model Countersoft.Gemini.Testing.CreateSentryModel

<div id="cs-adhoc-page">
        <p id="tab-help-message"><strong>&#187;</strong>&nbsp;Add testing capabilities to a template by adding test plans and cases.</p>
            <form id="createsentry-form" action="" method="post" autocomplete="off">
                <table class="data-entry-box">
                    <tr>
                        <td>Template</td>
                        <td>@Html.DropDownList("Template", Model.Templates, new { @class = "input-size9 required" })</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="checkbox" class="fancy" id="PreconditionsCreate" name="PreconditionsCreate" /><label for="PreconditionsCreate">Create "Preconditions" Custom Field</label></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="checkbox" class="fancy" id="ExpectedResultsCreate" name="ExpectedResultsCreate" /><label for="ExpectedResultsCreate">Create "Expected Results" Custom Field</label></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="checkbox" class="fancy" id="TestTypeCreate" name="TestTypeCreate" /><label for="TestTypeCreate">Create "Test Type" Custom Field</label></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="checkbox" class="fancy" id="RunStatusCreate" name="RunStatusCreate" /><label for="RunStatusCreate">Create "Run Status" Custom Field</label></td>
                    </tr>
                    <tr>
                        <td class="no-wrap">Use Screen From</td>
                        <td>@Html.DropDownList("CopyScreen", Model.ScreenTemplates, new { @class = "input-size9" })</td>
                    </tr>
                    <tr><td colspan="2"><div class="divider"></div></td></tr>  
                    <tr>
                        <td colspan="2" align="right">
                            <input id="createsentry-save" type="button" value='@GetResource(Countersoft.Gemini.ResourceKeys.Add)' class='button-primary' />
                        </td>
                    </tr>
                </table>
            </form>
</div>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#createsentry-form").validate();
        gemini_ui.fancyInputs('#createsentry-form .fancy');

        $("#createsentry-save").click(function (e)
        {
            gemini_commons.stopClick(e);

            var templateId = $('#Template').val();

            if (!$("#createsentry-form").valid()) { return; }

            if (templateId == 0 || templateId == null) {
                $('#Template').addClass('error');
            }
            else
            {
                gemini_ui.startBusy('#cs-adhoc-page .data-entry-box #createsentry-save');
                gemini_ajax.postCall('apps/countersoft/testing/createsentry', "create",
                    function (response) {
                        gemini_popup.toast("Saved");
                        gemini_ui.stopBusy('#cs-adhoc-page .data-entry-box #createsentry-save');
                        setTimeout(function () {gemini_admin.getPage()},100);
                    }, null, $("#createsentry-form").serialize(), null, true);
            }
            });
    });
    //# sourceURL=SentrySettings.js
</script>