@model ProjectAdmin.Models.ProjectAdminAppPermissionModel

<div id="view-permission" class="margin-top-20">
    <div id="view-permissions-container">
        <table class="admin-data-entry" cellpadding="0" cellspacing="0">
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td class="@role.Role">@role.Label</td>
                    <td class="@role.Role">@role.SelectedGlobalGroups</td>
                </tr>
            }
        </table>
    </div>
</div>