@model ProjectAdmin.Models.ProjectAdminAppModel

<div id="view-groups" class="margin-top-20 admin-datatable-holder">
    <table id="table-admin-groups" class="basic">
        <thead>
            <tr>
                <th data-field="Name" data-required='true'>Group</th>
                <th data-field="Description">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProjectGroups)
            {                
                <tr data-id="@item.ProjectGroup.Id" id="group-@item.ProjectGroup.Id">
                    <td>@item.ProjectGroup.Name</td>
                    <td>@item.ProjectGroup.Description</td>
                    <td data-edit="false" class=""><a href="#" class="members">@item.Summary</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var params = $.extend({},
        {
            bFilter: false,
            bInfo: true,
            bSort: true,
            bPaginate: false,
            bLengthChange: false,
            iDisplayLength: 20,
            sPaginationType: "full_numbers",
            "oLanguage": {
                "sInfo": "Showing _START_ to _END_ of _TOTAL_ entries",
                "sInfoEmpty": ""
            }
        });

        $('#view-groups table').dataTable(params);

        $("#table-admin-groups").on('click', ".members", function (e)
        {
            gemini_commons.stopClick(e);
            var item = $(this);
            var id = item.closest("tr").data("id");
            $("#cs-popup-center-content").css("height", '650px');

            var successCallback = function ()
            {
                $("#popup-button-yes", "#cs-popup-center").click(function (e)
                {
                    gemini_projectAdmin.postCall("apps/projectAdmin/saveprojectgroupmembers", null, function (response)
                    {
                        if (response.success)
                        {
                            $('#group-' + id + ' .members').text(response.Result.Data.Html);
                        }

                        gemini_projectAdmin.popupClose();
                    }, null, $("#PGPICKER-FORM").serialize(), null, true);
                })
            }
            gemini_projectAdmin.centerPopup("apps/projectAdmin/projectgroupeditor", null, { id: id, projectId: $('.projectAdmin #Projects1').val() }, null, "Save", "Close", false, false, successCallback, true);
        });
    });
</script>

