@model Roadmap.RoadmapAppModel

<div id="items-grid">
    <div id="page-options-box" class="right">
        <div class="box-right size-0">
            <div>            
                <div class="option vertical-align">
                    <div id="roadmap-column-picker" class="control-icon gear" title=" @GetResource(ResourceKeys.Columns)"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="clear-both"></div>
    <div id="progress-items-table">
    @Html.DisplayFor(m => m, "IssueDto")
    </div>
</div>
@{
    var card = (GeminiContext.Card.Id > 0) ? string.Format("?card={0}",GeminiContext.Card.Id) : "";
}
